<main>
  <div class="user_new_post">
    <div class="user_new_post_form">
      <%= link_to 'Back', user_posts_path, class:"back_btn" %>
      <h2>Create New Post</h2>
      <%= render "posts/post_form" %>
    </div>
  </div>
</main> 